.checkout-product {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 20px;
}

.checkout-product_info {
    padding-left: 20px;
}

.checkout-product_info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #846a29;
    color: #111;
}

.checkout-product_image {
    object-fit: contain;
    width: 150px;
    height: 180px;
}

.checkout-product_rating {
    display: flex;
}

.checkout-product_title {
    font-size: 16px;
    font-weight: 700;
}