.footer {
    background-color: #131921;
    color: white;
    text-align: center;
    padding: 30px 0;
    margin: 20px auto 0 auto;
}

.footer > h5 > a{
    color: white;
    text-decoration: none;
}